ul {
    list-style: none;
}

.profile {
   border: 1px solid grey;
   padding-top: 50px;
   background-color: white;
   border-radius: 1%;
   height: 500px;
   width: 450px;
}

.stats {

    background-color: lavender;
    margin: 0;
}

.avatar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.name, .tag, .location {
    display: flex;
    justify-content: center;
}

.name {
    font-weight: 500;
    font-size: 14;
}

.tag, .location, .label-profile {
    color: grey;

    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
}

.tag {
    margin-bottom: 36px;
}

.quantity {
    font-size: 26px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.04em;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
border-bottom-left-radius: 1%;
border-bottom-right-radius: 1%;
}

.stats-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}